# Ignorar partidas guardadas (¡MUY IMPORTANTE!)
Game.rxdata
Save.rxdata
*.rxdata.bak

# Ignorar archivos temporales del sistema
Thumbs.db
.DS_Store

# Ignorar copias de seguridad de scripts (si usas editores externos)
*~
*.bak